@model One.Models.Coffee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1>
            @Html.DisplayFor(model => model.Name)
        </h1>
    </div>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Img)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Img)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Weight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Weight)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RoastLevel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RoastLevel)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Taste)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Taste)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RoastDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RoastDate)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>